<div class = "row">
  <div class="col-md-6">
    <h2>
      {{ contact.name }} {{ contact.coursename }}
    </h2>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-2">
    <a href="#/"><button style="margin-top:20px" class="btn btn-default" ng-click="deleteContact(contact._id)">Delete</button></a>
  </div>
  <div class="col-md-1">
  </div>
</div>
<div ng-hide="editMode" class="container">
  <div>
    <p ng-if="contact.name">Name: {{ contact.name }}</p>
    <p ng-if="contact.address">Address: {{ contact.address }} </p>
    <p ng-if="contact.class">Class: {{ contact.class }} </p>
    <p ng-if="contact.id"> Id: {{ contact.id }} </p>

    <p ng-if="contact.coursename"> Course name: {{ contact.coursename }} </p>
    <p ng-if="contact.description"> Description: {{ contact.description }} </p>
    <p ng-if="contact.courseid"> Course id: {{ contact.courseid }} </p>
   
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="toggleEdit()">Edit</button>
      <a style="margin-top:20px" class="btn btn-default" href="#/">Back</a>
    </p>
  </div>
</div>
<!-- Contact form -->
<div ng-include="contactFormUrl">
</div>