<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Create new student</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Name </label> 
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
    </p>
    
    <p>
      <label>Address </label> 
      <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
    </p>
    <p>
      <label>Class </label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.mobile"> 
    </p>
    <p>
      <label>Id </label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.work"> 
    </p>
  
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div

<div class="row" ng-hide="contact._id">
  <div class="col-md-6">
      <h2>Create new course</h2>
  </div>
</div>
<div class="container">
  <div>
    <p>
      <label>Name </label> 
      <input id="name" class="form-control" type="text" ng-model="contact.firstName" required> 
    </p>
    
    <p>
      <label>Description </label> 
      <input id="name" class="form-control" type="text" ng-model="contact.email" required> 
    </p>
    
    <p>
      <label>Id </label> 
      <input id="name" class="form-control" type="text" ng-model="contact.phone.work"> 
    </p>
  
    <p>
      <button style="margin-top:20px" class="btn btn-default" ng-click="saveContact(contact)">Save</button>
      <button style="margin-top:20px" class="btn btn-default" ng-click="back()">Back</button>
    </p>
  </div>
</div>